.header
{
    color:white;
    background-color: #003580;
    display: flex;
    justify-content: center;
    position: relative;
}
h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.headerContainer
{
    width: 100%;
    max-width: 1024px;
    margin: 10px 0px 50px 0px;
}
.headerDesc{
    margin: 20px 0px;
}
.headerBtn{
    background-color: #0071c2;
    color: white;
    font-weight: 700;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.headerBtn:hover{
    opacity: 0.9;
}