.navbar{
    height: 80px;
    background-color: #003580;
    display: flex; 
    justify-content: center;
}
 .navContainer
{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
 .logo
{
    font-weight: 1000;
    font-size: 1.5em;
}
.navButton
{
    margin-left: 20px;
    border: none;
    color: #003580;
    cursor: pointer;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 10px 15px;
    font-weight: 600;
}
.navButton:hover
{
    opacity: 0.9;
} 